<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav" style="width: 100%;">
      <li class="nav-item heartbeat" style="width: 50px; text-align: center;">
          <a routerLink="home" class="nav-link" routerLinkActive="active">
            <img src="../assets/home-5-24.png" alt=""></a>
      </li>
      <li class="nav-item" style="width: 120px; text-align: center;">
        <a routerLink="first" class="nav-link" routerLinkActive="active">
          <span style="white-space:nowrap;" >FirstPage</span>
        </a>
    </li>
    <li class="nav-item" style="width: 120px; text-align: center;">
      <a routerLink="second" class="nav-link" routerLinkActive="active">
        <span style="white-space:nowrap;" >SecondPage</span>
      </a>
  </li>
  <li class="nav-item" style="width: 100%; text-align: right;">
    <div class="wrapper-sigla tracking-in-contract"><span style="white-space:nowrap;" class="">E-SHOP</span></div> 
  </li>
    </ul>
</nav>
<router-outlet></router-outlet>